{% extends '_base.html' %}
{% block title %}Establishment detail - {{ object.name }}{% endblock title %}
{% block content %}
    <div class="col-xs-3">
        &nbsp;
    </div>
    <div class="col-xs-6">
      <h2 name="name">Establishment : {{ object.name }}</h2>
      <p name="address">{{object.address}}</p> 
      <p name="mail">{{object.email}}</p>
      <p name="mobile">{{object.mobile}}</p> 
      <p name="user_name">{{object.user.username}}</p>
      </p>
    </div>
    <div class="col-xs-3">
        &nbsp;
    </div>
{% endblock content %}

