{% extends '_base.html' %}
{% block title %}Band detail - {{ object.name }}{% endblock title %}
{% block content %}
    <div class="col-xs-3">
        &nbsp;
    </div>
    <div class="col-xs-6">
      <h2>Band : {{ object.name }}</h2>
      <div class="col-xs-12">
        <iframe src="{{object.playlist}}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <a href="http://oquesgrasses.com/">http://oquesgrasses.com/</a>
      <p name="email">{{object.email}}</p> 
      <p name="mobile">{{object.mobile}}</p>
      </p>
    </div>
    <div class="col-xs-3">
        &nbsp;
    </div>
{% endblock content %}

