{% extends '_base.html' %}
{% block title %}Band detail - {{ object.name }}{% endblock title %}
{% block content %}
    <div class="col-xs-3">
        &nbsp;
    </div>
    <div class="col-xs-6">
      <h2>Band : {{ object.name }}</h2>
      <iframe src="https://open.spotify.com/follow/1/?uri={{object.web_link}}&size=detail&theme=light" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
      <iframe src="{{object.playlist}}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      <p name="email">{{object.email}}</p> 
      <p name="mobile">{{object.mobile}}</p>
      </p>
    </div>
    <div class="col-xs-3">
        &nbsp;
    </div>
{% endblock content %}

