{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Band{% endblock title %}
{% block content %}
    <div class="col-xs-3">
        &nbsp;
    </div>
    <div class="col-xs-6">
        <h2>Edit a band</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
        <button class="btn btn-success" type="submit" name="bandeditsubmit">Submit</button>
        </form>
    </div>
    <div class="col-xs-3">
        &nbsp;
    </div>
{% endblock content %}