{% extends '_base.html' %}

{% block title %}Vibely - List bands{% endblock title %}
{% block content %}
  <div class="row">
  {% for band in band_list %}
    <div class="col-lg-6 col-sm-12 p-3 p-5-md">
      <div class="card">
        {% if band.image %}
        <img src="{{ band.image.url }}" class="card-img-top" alt="{{ band.name }}">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title" name="list_name">{{ band.name }}</h5>
          <p class="card-text" name="list_mail">{{ band.email }}</p>
          <p class="card-text" name="list_mobile">{{ band.mobile }}</p>
          <a href="{% url band_detail band.pk %}" class="btn btn-primary">View details</a>
          <!--<a href="#" class="btn btn-primary">View details</a>-->
        </div>
      </div>
    </div>
  {% empty %}
    <div id="p-5">
      <h2 class="pt-3">Ups! Looks that there are no Bands yet!</h2>
    </div>
  {% endfor %}
  </div>
{% endblock content %}

