{% extends '_base.html' %}
{% block title %}Event detail - {{ object.name }}{% endblock title %}
{% block content %}
    <div class="col-xs-3">
        &nbsp;
    </div>
    <div class="col-xs-6">
      <h2 name="name">Event : {{ object.name }}</h2>
      <p name="state">{{object.state}}</p>
      <p name="date">{{object.date|date}}</p>
      <p name="description">{{object.description}}</p>
      <p name="establishment">{{object.establishment.name}}</p>
      </p>
    </div>
    <div class="col-xs-3">
        &nbsp;
    </div>
{% endblock content %}

